/* @import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic); */
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --background-color: rgb(247, 247, 247);
    --primary-color: rgb(77, 78, 83);
    --secondary-color: rgb(147, 147, 147);
    --tertiary-color: rgb(255, 255, 255);
    --accent-color: rgb(255, 41, 11);
    --hashtag-color: rgb(24, 145, 255);
    --magic-pad: 3em;
    --revealer: 1;
    --revealer-speed: 1500ms;
    --revealer-layer1-color: var(--primary-color);
    --revealer-layer2-color: var(--primary-color);
    --revealer-layer3-color: var(--tertiary-color);
}

body {
    overflow: hidden;
    /* cursor: none; */
    user-select: none;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    font-size: calc(1vw + 1vh);
    line-height: 1;
}

#main,
#template {
    width: 100%;
    height: 100%;
}

#media.component {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56.25%;
    height: 100%;
}

@media screen and (orientation: portrait) {
    #media.component {
        width: 100%;
        /* height: 56.25%; */
        height: 50%;
    }

    #content.component {
        width: 100% !important;
        height: 50% !important;
        top: 50% !important;
        /* height: 43.75% !important;
        top: 56.25% !important; */
    }

    #content.component {
        background-repeat: repeat !important;
        background-size: contain !important;
    }
}

@media screen and (orientation: landscape) and (aspect-ratio: 32/9) {
    #media.component {
        width: 50% !important;
    }

    #media .component.focus {
        width: 56.25% !important;
    }

    #content.component {
        width: 50% !important;
    }

    #content.component {
        background-repeat: repeat !important;
        background-size: contain !important;
    }

    #profileimage.component {
        width: 50% !important;
    }

}

#media video {
    background: transparent url('../img/l-media-light.png') no-repeat 0 0;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#media .component.photo {
    /* background-image: url("http://source.unsplash.com/1080x1080/?social") !important; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#media .component.focus {
    width: 100%;
    height: 100%;
    transform: scale(0.9);
}

#media .component.blur {
    transform: scale(1.2);
    width: 100%;
    min-height: 100%;
}

#content.component {
    text-rendering: optimizelegibility;
    width: 43.75%;
    height: 100%;
    top: 0;
    right: 0;
    padding: var(--magic-pad);
    background-image: url("../img/l-media-light.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid red; */
}

#socialicon.component {
    width: var(--magic-pad);
    height: var(--magic-pad);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    /* border-radius: calc(var(--magic-pad) / 2); */
    /* border: 1px solid red; */
}

#messagewrap.component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - calc(var(--magic-pad) * 2));
    /* border: 1px solid red; */
}

#message.component {
    overflow-wrap: break-word;
    direction: ltr;
    font-size: 1em;
    white-space: pre-wrap;
    color: var(--primary-color);
}

#posted {
    font-size: 0.8em;
    color: var(--primary-color);
    transform: translateY(100%);
}

#profile.component {
    --ratio: 80%;
    --gap: .5em;
    --pad: calc(var(--magic-pad) * 2);
    display: grid;
    grid-template-columns: var(--ratio) auto;
    grid-template-areas: "A B";
    gap: var(--gap);
    /* width: calc(100% - calc(var(--magic-pad) * 2)); */
    /* border: 1px solid red; */
}

#profile .component {
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100%;
    /* border: 1px solid purple; */
}

#accountwrap.component {
    grid-area: A;
    width: 100%;
}

#profilename.component {
    grid-area: A;
    justify-content: flex-end;
    padding-top: .1em;
    font-size: 1.2em;
    color: var(--primary-color);
}

#profileaccount.component {
    grid-area: A;
    justify-content: flex-start;
    padding-top: .2em;
    font-size: 0.85em;
    color: var(--secondary-color);
}

#profileimage.component {
    grid-area: B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
}

#profileimage img {
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height: auto;
    /* transform: scale(1.2); */
}

.letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
}

.word {
    display: initial;
    line-height: 1em;
    transform-origin: 0 0;
}

/** 
    Revealer styling
**/

#transition {
    z-index: 10;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100vw;
    height: 100vh;
  }
  
  .revealer.revealer--top {
    width: 100vw;
    height: 100vh;
    transform: rotate3d(0, 0, 1, 180deg);
  }
  
  .revealer.revealer--left {
    width: 100vh;
    height: 100vw;
    transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, 90deg) translate3d(0px, 100%, 0px);
  }
  
  .revealer.revealer--bottom {
    width: 100vw;
    height: 100vh;
    transform: none;
  }
  
  .revealer.revealer--right {
    width: 100vh;
    height: 100vw;
    transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, -90deg) translate3d(0px, 100%, 0px);
  }
  
  .revealer__layer.top {
    background: rgba(var(--clr-revealer-layer-1), 0.9);
  }
  
  .revealer__layer.middle {
    background: rgba(var(--clr-revealer-layer-2), 0.9);
  }
  
  .revealer__layer.bottom {
    background: rgba(var(--clr-revealer-layer-3), 0.9);
  }