* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue LT Std", sans-serif;
}

:root {
  --font-size: calc(1vw + 1vh);
  --background-color: rgb(0, 0, 0);
  --primary-color: rgb(20, 20, 20);
  /* --primary-color: rgb(240, 41, 11); */
  --secondary-color: rgb(147, 147, 147);
  --tertiary-color: rgb(255, 255, 255);
  --accent-color: var(--primary-color);
  --hashtag-color: rgb(24, 145, 255);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --revealer-speed: 2500ms;
  --revealer-opacity: 0.8;
  --clr-revealer-layer-1: var(--background-color);
  --clr-revealer-layer-2: var(--tertiary-color);
  --clr-revealer-layer-3: var(--background-color);
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  font-size: var(--font-size);
  line-height: 1.1;
  overflow: hidden;
  /* cursor: none; */
  user-select: none;
}

main.container {
  position: relative;
  width: 100%;
  height: 100%;
}

article.grid {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1.618fr 1fr; 
  grid-template-rows: 1fr;
  grid-template-areas: "media post";
  gap: 0;
  min-height: 100vh;
  /* width: 50%; */
  /* height: 25%; */
  will-change: transform, opacity;
}

article .media {
  position: relative;
  grid-area: media;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.media video {
  position: absolute;
  /* background: var(--accent-color) url('../img/l-media-light.png') cover no-repeat 0 0; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform, opacity, filter;
}

.media img.feature {
  object-fit: contain;
  filter: drop-shadow(0 0 10em var(--background-color));
}

.media img.blurred {
  object-fit: cover;
  filter: blur(30px) brightness(0.6) contrast(120%);
  transform: scale(1.4);
}

article .content {
  grid-area: post;
  position: relative;
  overflow: hidden;
  text-rendering: optimizelegibility;
}

.content .story {
  --container-pad: 3em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--container-pad);
  color: var(--white);
  /* background-image: url("../img/l-media-light.png"); */
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: cover;
}

.content .story .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}

.content .story .text {
  font-size: 1em;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding-top: 0.25em;
  word-break: keep-all;
  line-break: strict;
}

.content .story .text .hashtag {
  color: var(--hashtag-color);
}

.content .story .credit {
  position: absolute;
  bottom: calc(1 * var(--container-pad));
  right: calc(1 * var(--container-pad));
  text-align: right;
  font-size: 0.65em;
  opacity: 0.2;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.letter {
  display: inline;
  line-height: 1em;
  transform-origin: 0 0;
}

/*  Revealer layer colors  */

.revealer__layer.top {
  will-change: transform, opacity;
  background: var(--clr-revealer-layer-1);
}

.revealer__layer.middle {
  will-change: transform, opacity;
  background: var(--clr-revealer-layer-2);
}

.revealer__layer.bottom {
  will-change: transform, opacity;
  background: var(--clr-revealer-layer-3);
}

/*  Responsive styling  */

@media screen and (orientation: portrait) {
  .mediaX {
    width: 100%;
    /* height: 56.25%; */
    height: 50%;
  }

  .contentX {
    width: 100% !important;
    height: 50% !important;
    top: 50% !important;
    background-repeat: repeat !important;
    background-size: contain !important;
    /* height: 43.75% !important;
        top: 56.25% !important; */
  }
}

/* @media screen and (orientation: landscape) and (aspect-ratio: 32/9) {
  .media {
    width: 50% !important;
  }

  .media .focus {
    width: 56.25% !important;
  }

  .content {
    width: 50% !important;
    background-repeat: repeat !important;
    background-size: contain !important;
  }

  .usericon {
    width: 50% !important;
  }
} */
