*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    user-select: none;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('../fonts/Merriweather-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DroidSans-Regular';
    src: url('../fonts/DroidSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-primary: 'DroidSans-Regular';
    --font-size: calc(1vw + 1vh);
    --bg-primary: 242, 242, 242;
    --clr-primary: 0, 84, 148;
    --clr-secondary: 0, 113, 169;
    --clr-tertiary: 242, 242, 242;
    --clr-quaternary: 91, 103, 112;
    --clr-white: 255, 255, 255;
    --clr-revealer-layer-1: rgba(var(--clr-primary), 0.8);
    --clr-revealer-layer-2: rgba(var(--clr-secondary), 0.8);
    --clr-revealer-layer-3: rgba(var(--clr-tertiary), 0.8);
    --drop-shadow: 4px 4px 0 rgba(var(--clr-primary), 0.05);
    --anime-speed: 750ms;
    --anime-delay: 0ms;
    --anime-stagger: 10;
    --anime-duration: 15000ms;
    --revealer-speed: 1000ms;
    --revealer: 1;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(var(--background));
    font-family: var(--font-primary);
    font-size: var(--font-size);
}

section,
main {
    position: absolute;
    width: 100%;
    height: 100%;
}

/** 
    section.dual-screen
**/

section.dual-screen #intro .date {
    transform: scaleX(0.5) !important;
    transform-origin: left;
    font-size: 4em;
    padding-top: 0;
}

section.dual-screen .container .background video {
    transform: scaleX(0.5);
    transform-origin: left;
}

section.dual-screen .container .background {
    transform-origin: left;
    opacity: 1;
}

section.dual-screen .container .background .photo {
    transform: scaleX(0.5);
    transform-origin: right;
    opacity: 0.8;
}

section.dual-screen .container .header {
    transform: scaleX(calc(1 / 2)) !important;
    transform-origin: left;
    position: relative;
    height: 100%;
}

section.dual-screen .container .header .col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    margin: 0;
}

section.dual-screen .container .header .title {
    display: none;
    font-size: 1.85em;
}

section.dual-screen .container .header .location {
    font-size: 1.8em;
    padding-bottom: .1em;
}

section.dual-screen .container .header .date {
    display: block;
    font-size: 1.1em;
    padding-bottom: 2em;
}

section.dual-screen .container .header span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.dual-screen .container .header .icon {
    display: block;
    max-height: 5em;
}

section.dual-screen .container .header .description,
section.dual-screen .container .header .temperature {
    display: inline-block;
    font-size: 1.35em;
    margin-bottom: 0.5em;
}

section.dual-screen .container .header .wind,
section.dual-screen .container .header .humidity {
    display: block;
    font-size: 0.8em;
}

section:not(.dual-screen) .container .header .location::after {
    content: ',';
}

section.dual-screen .container .forecast {
    transform: scaleX(calc(1 / 2)) !important;
    transform-origin: right;
    height: 100%;
}

section.dual-screen .container .header span {
    text-align: center;
}

/** // **/

#intro {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

#intro .date {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    top: 67%;
    left: 0;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
    height: auto;
    background: transparent;
    color: rgba(var(--clr-quaternary), 1.0);
    font-size: 3em;
    font-weight: 600;
    opacity: 0;
    /* backdrop-filter: blur(5px); */
}

#intro video,
.container video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container {
    transition: opacity var(--anime-speed);
    transition-delay: var(--anime-delay);
    opacity: 0;
}

.container .background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.container .background .photo {
    background-color: transparent;
    background-image: url('../img/default.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    filter: blur(3px) contrast(120%) grayscale(50%);
    opacity: 0;
}

.container .background .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--clr-primary), 0.6);
    mix-blend-mode: soft-light;
    /* backdrop-filter: blur(0px); */
}

.container .header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 25%;
    padding-bottom: .1em;
    font-size: 2em;
    font-weight: 300;
    color: rgb(var(--clr-tertiary));
    background-color: rgba(var(--clr-primary), 0.85);
    backdrop-filter: blur(0px);
    text-shadow: var(--drop-shadow);
    box-shadow: var(--drop-shadow);
    opacity: 0;
    /* filter: drop-shadow(5px 5px 5px rgba(var(--clr-primary), 1)) saturate(120%); */
}

.container .header .col {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto 5%;
}

.container .header .title {
    display: inline-block;
    font-size: 2.5em;
    font-weight: 600;
    padding-right: 0.125em;
}

.container .header .wrapper {
    display: inline-block;
}

.container .header .temperature,
.container .header .location {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 300;
}

.container .header .description::after {
    content: ',';
    padding-right: 0.125em;
}

.container .header .wind,
.container .header .humidity,
.container .header .icon,
.container .header .description,
.container .header .date {
    display: none;
}

.container .forecast {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    /* visibility: hidden; */
}

@media only screen and (orientation: portrait) {
    .container .forecast {
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .container .forecast .day {
        flex: 1 10% 50%;
        /* margin-bottom: 1rem !important; */
    }

    .container .forecast .day:first-child {
        flex: auto;
    }

    .container .header .title {
        display: block;
    }

    .container .header .location {
        padding-bottom: 0.5em;
    }
}

.container .forecast .day {
    display: flex;
    flex: 1 0 10%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-shadow: var(--drop-shadow);
}

.container .forecast .day .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(180deg,
            rgba(var(--clr-primary), 0.5),
            rgba(var(--clr-white), 0.5));
}

.container .forecast .day:first-child {
    font-size: 120%;
    padding: 0 6em;
}

.container .forecast .day:last-child {
    margin-right: 0;
    border-right: 0;
}

.container .forecast .day video {
    padding: 0 .025em;
    background-color: rgba(var(--clr-tertiary), 0.625);
}

.container .forecast .day:first-child video {
    padding-left: 0;
}

.container .forecast .day:last-child video {
    padding-right: 0;
}

.container .forecast .day .dayofweek {
    font-size: 2.35em;
    font-weight: 600;
    color: rgb(var(--clr-tertiary));
    letter-spacing: -.035em;
    text-transform: uppercase;
}

.container .forecast .day .conditions .variance {
    line-height: 1.1;
    text-align: center;
}

.container .forecast .day .conditions .variance .high {
    font-size: 3.65em;
    font-weight: 600;
    color: rgb(var(--clr-primary));
}

.container .forecast .day .conditions .variance .low {
    font-size: 3em;
    font-weight: 600;
    color: rgb(var(--clr-secondary));
}

.container .forecast .day .conditions .icon {
    width: 7em;
    margin: .25em auto;
    filter: drop-shadow(var(--drop-shadow)) contrast(200%);
}

.container .forecast .day:first-child .conditions .icon {
    width: 8em;
    margin: -5%;
}

.container .forecast .day .conditions .description {
    font-size: .65em;
    font-weight: 500;
    display: none;
}

.container .htemp::after,
.container .ltemp::after,
.container .temperature::after {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: 400; */
    content: '°';
}

/** 
    Utility classes
**/

.hidden {
    display: none;
}

.visible {
    opacity: 1;
}

.fade {
    transition: opacity var(--anime-duration);
    opacity: 0;
}

/** 
    Revealer styling
**/

#transition {
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

.revealer.revealer--top {
    width: 100vw;
    height: 100vh;
    transform: rotate3d(0, 0, 1, 180deg);
}

.revealer.revealer--left {
    width: 100vh;
    height: 100vw;
    transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, 90deg) translate3d(0px, 100%, 0px);
}

.revealer.revealer--bottom {
    width: 100vw;
    height: 100vh;
    transform: none;
}

.revealer.revealer--right {
    width: 100vh;
    height: 100vw;
    transform: translate3d(-50%, -50%, 0px) rotate3d(0, 0, 1, -90deg) translate3d(0px, 100%, 0px);
}

.revealer__layer.top {
    background: var(--clr-revealer-layer-1);
}

.revealer__layer.middle {
    background: var(--clr-revealer-layer-2);
}

.revealer__layer.bottom {
    background: var(--clr-revealer-layer-3);
}